$primary: $medgreen;

$fullhd: $desktop-width;
$desktop: $desktop-width;
$widescreen: $desktop-width;

$body-line-height: $base-line-height;

$size-1: spacing(5);
$size-2: spacing(4);
$size-3: spacing(3);
$size-4: spacing(2);
$size-5: spacing(1);
$size-6: spacing(0);
$size-7: spacing(-1);

$size-small:   $size-7;
$size-normal:  $size-6;
$size-medium:  $size-5;
$size-large:   $size-4;
