html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

body > footer {
  // stick to bottom
  margin-top: auto;
}

#main {
  margin-bottom: $big-spacing;
}
